<div class="footer col-span-2 onload-animation">
  <div
    class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"
  ></div>
  <div
    class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6"
  >
    <div class="transition text-50 text-sm text-center">
      &copy; <span id="copyright-year">{{ currentYear }}</span> 轻盈的鱼. All Rights Reserved. /
      <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="/rss.xml"
        >RSS</a
      >
      /
      <a
        class="transition link text-[var(--primary)] font-medium"
        target="_blank"
        href="/sitemap.xml"
        >Sitemap</a
      ><br />
      Powered by
      <a
        class="transition link text-[var(--primary)] font-medium"
        target="_blank"
        href="https://github.com/uuice"
        >UUICE</a
      >
      &
      <a
        class="transition link text-[var(--primary)] font-medium"
        target="_blank"
        href="https://github.com/uuice/crispy"
        >Crispy</a
      >
      Theme 移植自
      <a
        class="transition link text-[var(--primary)] font-medium"
        target="_blank"
        href="https://github.com/saicaca/fuwari"
        >fuwari</a
      >
    </div>
    {% if recordSettings and recordSettings.showRecord %}
    <div class="transition text-50 text-sm text-center">
      {% if recordSettings.icpNumber %}
      <a
        class="transition link text-[var(--primary)] font-medium"
        target="_blank"
        href="{{ recordSettings.icpLink }}"
        >{{ recordSettings.icpNumber }}</a
      >
      {% endif %} {% if recordSettings.policeNumber %} /<a
        class="transition link text-[var(--primary)] font-medium"
        target="_blank"
        href="{{ recordSettings.policeLink }}"
        >{{ recordSettings.policeNumber }}</a
      >
      {% endif %} {% if recordSettings.recordText %}
      <span class="transition link text-[var(--primary)] font-medium" target="_blank"
        >{{ recordSettings.recordText }}</span
      >
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
