<div class="pb-4 card-base onload-animation">
  <div
    class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 relative ml-8 mt-4 mb-2 before:w-1 before:h-4 before:rounded-md before:bg-[var(--primary)] before:absolute before:left-[-16px] before:top-[5.5px]"
  >
    标签
  </div>
  <div id="tags" class="collapse-wrapper px-4 overflow-hidden">
    <div class="flex gap-2 flex-wrap">
      {% for t in tags %}
      <a
        href="/tags/{{ t.value }}"
        aria-label="View all posts with the Blogging tag"
        class="btn-regular h-8 text-sm px-3 rounded-lg"
        >{{ t.title }}</a
      >
      {% endfor %}
    </div>
  </div>
</div>
